{% extends "base.html" %} {% block titulo %}Resultado{% endblock %} {% block
contenido %}
<main class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow mb-5 p-4">
        <h1 class="text-center mb-3">Practica</h1>
        <h4 class="text-center mb-3">
          Calculadora de IMC
        </h4>
        <h6 class="text-center mb-4">Es fácil y rápido</h6>

        <form>
          <div class="mb-3">
            <h5>Tu IMC es: {{ v3 }}</h5>
            <h6>Clasificación: {{ v4 }}</h6>
          </div>

          <div class="text-center">
            <a href="{{ url_for('Iimc') }}" class="btn btn-primary rounded-pill">Calcular otro</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="mb-5 mx-4 p-4 bg-white text-dark rounded-4 shadow-sm">

    <h2 class="fw-bold mb-3">Articulo informativo</h2>

    <h3>
      IMC: qué es, fórmula, tabla y cómo calcular
    </h3>

    <p>El Índice de Masa Corporal (IMC) es una herramienta utilizada por profesionales de la salud para estimar la
      cantidad de grasa corporal a partir de la relación entre el peso y la altura. Sirve como una evaluación
      inicial para identificar si una persona tiene un peso adecuado, bajo o elevado.</p>

    <p>Aunque es una fórmula práctica y de uso común, el IMC no considera factores importantes como la proporción
      entre músculo y grasa, la distribución de la grasa corporal o la condición física general. Por eso, sus
      resultados deben interpretarse con precaución y siempre con el acompañamiento de un profesional.</p>

    <p>En personas con mayor masa muscular, como los atletas, el IMC puede no reflejar su estado real de salud. En
      estos casos, se recomienda el uso de otras técnicas más precisas, como la bioimpedancia o la antropometría,
      que permiten una evaluación más completa de la composición corporal.</p>

    <div class="text-center">
      <img src="{{ url_for('static', filename='img/imc_15748.webp') }}" alt="IMC" class="img-fluid rounded my-4">
    </div>
    <h3>Fórmula del IMC </h3>

    <h5>El cálculo del IMC debe ser realizado usando la siguiente fórmula matemática:</h5>
    <h4>IMC= Peso actual (kg) ÷ altura (m) x altura (m)= kg/m2</h4>

    <h3>Cómo se calcula</h3>

    <h5>Para calcular el IMC se debe:</h5>

    <ol>
      <li>Pesar a la persona y anotar el peso en kilogramos (kg).</li>
      <li>Medir la altura en metros (m).</li>
      <li>Elevar al cuadrado la altura, es decir, multiplicarla por sí misma.</li>
      <li>Dividir el peso entre la altura al cuadrado.</li>
      <li>Clasificar el resultado del IMC según el valor obtenido, pues mientras más elevado el número mayor
        cantidad de grasa corporal se tiene.</li>
    </ol>

  </section>
</main>
{% endblock %}