{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block header %}
<div class="text-center mt-5 pt-5">
  <h1><strong>Bienvenido a mi sitio</strong></h1>
  <p class="lead">
    Encuentra información y herramientas para mejorar tu salud y bienestar 🍎
  </p>
</div>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow p-4">
          <h1 class="text-center mb-3">Practica</h1>
          <h4 class="text-center mb-3">
            Calculadora de IMC
          </h4>
          <h6 class="text-center mb-4">Es fácil y rápido</h6>
        </div>
      </div>
    </div>
</div>
{% endblock %}